<header>
  <nav class="top-nav">
    <div class="w-[50px]">
      <a href="/">
        <img src="/src/images/logo.png" alt="Nodewave Logo" class="max-w-full max-h-full">
      </a>
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class="menu-button-container" for="menu-toggle">
      <div class="menu-button"></div>
    </label>
    <ul class="flex menu">
      <li>
        <a href="/">Home</a>
      </li>
      <% if(!isAuthenticated) { %>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/signup">Signup</a>
      </li>
      <% } else { %>
      <li>
        <a href="/my-profile">My Profile</a>
      </li>
      <li>
        <form action="/logout" method="post">
          <button type="submit">Logout</button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>