<%- include('./includes/head.ejs') %>
  <body>
    <%- include('./includes/header.ejs') %>
    <div class="flex-column bg-[#fdfdfd] w-11/12 sm:w-[584px] mx-auto my-8 p-6 rounded-md box-shadow">
      <div class="flex gap-1">
        <img src="" alt="avatar.jpg" />
        <a href="">User</a>
      </div>
      <div>
        <p>Here will be content</p>
      </div>
      <p>Published: X time ago</p>
    </div>
  </body>
</html>
