<%- include('./includes/head.ejs') %>
<body>
    <%- include('./includes/header.ejs') %>
    <div class="flex-column bg-[#fdfdfd] w-11/12 sm:w-[584px] mx-auto my-8 p-6 rounded-md box-shadow">
        <div class="">
          <img src="" alt="avatar.jpg" />
          <p>Username: <span class="underline font-bold"><%= user.username %></span></p>
        </div>
        <p>Email: <span class="underline font-bold"><%= user.email %></span></p>
        <a href="" class="underline text-blue">Change password</a>
      </div>
</body>
</html>