<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/header.ejs') %>
  <main class="flex-column text-white bg-blue w-11/12 sm:w-[584px] mx-auto my-8 p-6 rounded-md box-shadow">
    <form action="/create-post" method="POST">
      <div class="flex flex-col gap-3">
        <% if(error) { %>
        <div class="text-center border-2 bg-red-500 p-4 rounded-sm w-2/3 m-auto">
          <p><%= error.msg %></p>
        </div>
        <% } %>
        <textarea placeholder="Say something to the world!" class="form-input text-lg text-left" cols="20" rows="6" name="content" id="content" required></textarea>
        <button class="px-4 py-2 bg-white text-blue rounded-md transition-all duration-300 hover:bg-cyan-300 hover:text-white" type="submit">Create</button>
      </div>
    </form>
  </main>
</body>

</html>