<%- include('../includes/head.ejs') %>
</head>
<body>
  <%- include('../includes/header.ejs') %>
  <div class="flex-column text-white bg-blue w-11/12 sm:w-[584px] mx-auto my-8 p-6 rounded-md box-shadow">
    <form action="/reset-password-request" method="POST">
      <div class="flex flex-col gap-3">
        <p class="text-xl text-center mb-3">Please enter your e-mail on which we will send a reset password link.</p>
        <input class="form-input" placeholder="E-mail" type="email" name="email" id="email">
        <button class="px-4 py-2 bg-white text-blue rounded-md" type="submit">Submit</button>
      </div>
    </form>
  </div>
</body>
</html>