<%- include('../includes/head.ejs') %>
</head>
<body>
  <%- include('../includes/header.ejs') %>
  <div class="flex-column text-white bg-blue w-11/12 sm:w-[584px] mx-auto my-8 p-6 rounded-md box-shadow">
    <form action="/reset-password" method="POST">
      <div class="flex flex-col gap-3">
        <p class="text-xl text-center mb-3">Please enter your new password.</p>
        <input class="form-input" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" type="password" name="password" id="password">
        <input class="form-input" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" type="password" name="confirmPassword" id="confirmPassword">
        <input type="hidden" name="userId" value="<%= userId %>">
        <% if(!isUserAuth) { %>
          <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
        <% } %>
        <button class="px-4 py-2 bg-white text-blue rounded-md" type="submit">Submit</button>
      </div>
    </form>
  </div>
</body>
</html>